.container {
  width: 900px;
  height: 800px;
  overflow: hidden;
}

.slider {
  position: relative;
  top: 0;
  transition: all 1s ease;

  &-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    & button {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      cursor: pointer;
    }
  }
}

.block {
  width: 900px;
  height: 800px;
}

.slider-block {
  display: grid;
  grid-template-columns: 900px 50px;
  justify-content: center;
  margin-top: 100px;
}

.radio-btns {
  width: 50px;
  color: #f2cf17;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 30px);
  user-select: none;
  outline: none;
  padding-top: 150px;
  justify-content: center;
}

.logo {
  padding-top: 40px;
  padding-left: 150px;
}

.pagePC {
  margin-left: 6px;
}

input[type="radio"]:checked:before {
  width: 14px;
  height: 14px;
  background: #f2cf17;
  content: "";
  display: block;
  position: relative;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -2px;
  margin-top: -2px;
}
