.container {
  width: 1200px;
  height: 700px;
  overflow: hidden;
}

.slider {
  position: relative;
  top: 0;
  transition: all 1s ease;

  &-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    & button {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      cursor: pointer;
    }
  }
}

.block {
  width: 1200px;
  height: 800px;
}

.slider-block {
  display: grid;
  grid-template-columns: 1200px 50px;
  justify-content: center;
  margin-top: 100px;
}

.radio-btns {
  width: 50px;
  color: #f2cf17;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 30px);
  user-select: none;
  outline: none;
}
